{% extends "base.html" %}

{% block header %}About{% endblock header %}

{% block content %}
<h3>A hardcoded page!</h3>

<p>
  This is an exercise based on the Flask tutorial from Corey Schafer. Link here for the complete playlist: <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH" target="_blank">Flask Tutorial</a>
</p>

<p>
  I've played around a little bit with the code to learn a bit more about Flask. I've also updated the code a little because the video has an older version of Flask and some things have changed.
</p>

<p>
  This project has been made in a single file unlike the tutorial, which has packages and modules.
</p>
{% endblock content %}
